<!DOCTYPE html>
<html>
  <head>
    <title>MemoryCache</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/d84a5660b7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.simpleLogoURL = "<%= image_url('simple_logo.png') %>";
      window.transparentLogoURL = "<%= image_url('transparent_logo_words.png') %>";
      window.backgroundLogoURL = "<%= image_url('logo_w_background.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
